nav {
  background-color: #f5f4f4;
}

.navbar {
  display: flex;
  justify-content: left;
  align-items: end;
  gap: 1.3rem;
  padding-left: 1rem;
  height: 100%;
}

.nav-link {
  display: flex;
  gap: 0.5rem;
  padding-bottom: 1rem;
}

.nav-link:hover {
  text-decoration: none;
}

.active-nav-link {
  display: flex;
  align-items:flex-end;
  gap: 0.5rem;
  padding-bottom: 1rem;
  border-bottom: 0.1rem solid #f78166;
}

.active-nav-link:hover {
  text-decoration: none;
}