.user-repos-heading {
  display: flex;
  justify-content: space-between;
  padding-top: 2.2rem;
  padding-right: 4rem;
  padding-left: 1.5rem;
}

.customize-pins-link {
  color: #4493f8;
  font-size: 0.8rem;
  cursor: pointer;
}

.repos-container {
  padding-left: 1rem;
  padding-right: 3.5rem;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 2rem;
}