* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body {
  
  .github-user-page {
    display: grid;
    grid-template-rows: 15vh 220vh 20vh;
  }

  .content {
    display: grid;
    grid-template-columns: 30% 70%;
  }
  
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
  }

  a {
    color:black;
    text-decoration: none;
    cursor: pointer;
  }

  a:hover {
    text-decoration: underline;
  }
  
}