@import "base/base";
@import "components/sidebar";
@import "components/mediaQueries";
@import "components/footer";
@import "components/overview";
@import "components/userRepos";
@import "components/repoCard";
@import "components/userStats";
@import "components/yearsOfContribution";
@import "components/statsVisuals";
@import "components/header";
@import "components/navbar";
@import "components/headerFunctionalities";
@import "components/userActivity";

